<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlet1.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validation1</servlet-name>
        <servlet-class>Servlet1.Validation1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Servlet1.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn_SetImg</servlet-name>
        <servlet-class>Servlet1.SignIn_SetImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMsg</servlet-name>
        <servlet-class>Servlet1.SaveMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMsgCount</servlet-name>
        <servlet-class>Servlet1.CheckMsgCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products_Add</servlet-name>
        <servlet-class>Servlet1.Products_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Brand_Add</servlet-name>
        <servlet-class>Servlet1.Brand_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cat_Add</servlet-name>
        <servlet-class>Servlet1.Cat_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Write_Logs</servlet-name>
        <servlet-class>Servlet1.Write_Logs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>Servlet1.ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Cart</servlet-name>
        <servlet-class>Servlet1.Add_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Mobile_Servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Service</servlet-name>
        <servlet-class>Mobile_Servlet.Login_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Products</servlet-name>
        <servlet-class>Mobile_Servlet.Load_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Cart</servlet-name>
        <servlet-class>Mobile_Servlet.Load_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_to_Cart</servlet-name>
        <servlet-class>Mobile_Servlet.Add_to_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_Cart_Item</servlet-name>
        <servlet-class>Mobile_Servlet.Remove_Cart_Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Load_Products</servlet-name>
        <servlet-class>Servlet1.Web_Load_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Load_Cart</servlet-name>
        <servlet-class>Servlet1.Web_Load_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Checkout</servlet-name>
        <servlet-class>Servlet1.Web_Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Complete_Checkout</servlet-name>
        <servlet-class>Servlet1.Web_Complete_Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Order_View</servlet-name>
        <servlet-class>Servlet1.Web_Order_View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>Servlet1.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Test</servlet-name>
        <servlet-class>Mobile_Servlet.Login_Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Products</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Change_Status</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Change_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_User</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Brand</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Category</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Load_Update_Products</servlet-name>
        <servlet-class>Servlet1.Web_Load_Update_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product_Update</servlet-name>
        <servlet-class>Servlet1.Product_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_User_Orders</servlet-name>
        <servlet-class>Servlet1.Load_User_Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VCartView</servlet-name>
        <servlet-class>Servlet1.VCartView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Product_Details</servlet-name>
        <servlet-class>Servlet1.Web_Product_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Remove_From_Cart</servlet-name>
        <servlet-class>Servlet1.Web_Remove_From_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test_FileUpload</servlet-name>
        <servlet-class>Mobile_Servlet.Test_FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Add_Product</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Add_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Update_Product</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Update_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Update_Product</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Update_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Add_Brand</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Add_Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Update_Brand</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Update_Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Update_Brand</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Update_Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Add_Cat</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Add_Cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Load_Update_Cat</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Load_Update_Cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Update_Cat</servlet-name>
        <servlet-class>Mobile_Servlet.Admin_Update_Cat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Load_Order_View</servlet-name>
        <servlet-class>Servlet1.Web_Load_Order_View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Payments</servlet-name>
        <servlet-class>Servlet1.Web_Payments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobile_Load_Order</servlet-name>
        <servlet-class>Mobile_Servlet.Mobile_Load_Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobile_Remove_Cart_Item</servlet-name>
        <servlet-class>Mobile_Servlet.Mobile_Remove_Cart_Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Product_List</servlet-name>
        <servlet-class>Servlet1.Load_Product_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load_Adv_Products</servlet-name>
        <servlet-class>Mobile_Servlet.Load_Adv_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobile_Load_Order_Details</servlet-name>
        <servlet-class>Mobile_Servlet.Mobile_Load_Order_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Web_Load_Products2</servlet-name>
        <servlet-class>Servlet1.Web_Load_Products2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validation1</servlet-name>
        <url-pattern>/Validation1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn_SetImg</servlet-name>
        <url-pattern>/SignIn_SetImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMsg</servlet-name>
        <url-pattern>/SaveMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMsgCount</servlet-name>
        <url-pattern>/CheckMsgCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products_Add</servlet-name>
        <url-pattern>/Products_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Brand_Add</servlet-name>
        <url-pattern>/Brand_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cat_Add</servlet-name>
        <url-pattern>/Cat_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Write_Logs</servlet-name>
        <url-pattern>/Write_Logs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Cart</servlet-name>
        <url-pattern>/Add_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Service</servlet-name>
        <url-pattern>/Login_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Products</servlet-name>
        <url-pattern>/Load_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Cart</servlet-name>
        <url-pattern>/Load_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_to_Cart</servlet-name>
        <url-pattern>/Add_to_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_Cart_Item</servlet-name>
        <url-pattern>/Remove_Cart_Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Load_Products</servlet-name>
        <url-pattern>/Web_Load_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Load_Cart</servlet-name>
        <url-pattern>/Web_Load_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Checkout</servlet-name>
        <url-pattern>/Web_Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Complete_Checkout</servlet-name>
        <url-pattern>/Web_Complete_Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Order_View</servlet-name>
        <url-pattern>/Web_Order_View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Test</servlet-name>
        <url-pattern>/Login_Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Products</servlet-name>
        <url-pattern>/Admin_Load_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Change_Status</servlet-name>
        <url-pattern>/Admin_Change_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_User</servlet-name>
        <url-pattern>/Admin_Load_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Brand</servlet-name>
        <url-pattern>/Admin_Load_Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Category</servlet-name>
        <url-pattern>/Admin_Load_Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Load_Update_Products</servlet-name>
        <url-pattern>/Web_Load_Update_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product_Update</servlet-name>
        <url-pattern>/Product_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_User_Orders</servlet-name>
        <url-pattern>/Load_User_Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VCartView</servlet-name>
        <url-pattern>/VCartView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Product_Details</servlet-name>
        <url-pattern>/Web_Product_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Remove_From_Cart</servlet-name>
        <url-pattern>/Web_Remove_From_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test_FileUpload</servlet-name>
        <url-pattern>/Test_FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Add_Product</servlet-name>
        <url-pattern>/Admin_Add_Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Update_Product</servlet-name>
        <url-pattern>/Admin_Load_Update_Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Update_Product</servlet-name>
        <url-pattern>/Admin_Update_Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Add_Brand</servlet-name>
        <url-pattern>/Admin_Add_Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Update_Brand</servlet-name>
        <url-pattern>/Admin_Load_Update_Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Update_Brand</servlet-name>
        <url-pattern>/Admin_Update_Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Add_Cat</servlet-name>
        <url-pattern>/Admin_Add_Cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Load_Update_Cat</servlet-name>
        <url-pattern>/Admin_Load_Update_Cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Update_Cat</servlet-name>
        <url-pattern>/Admin_Update_Cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Load_Order_View</servlet-name>
        <url-pattern>/Web_Load_Order_View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Payments</servlet-name>
        <url-pattern>/Web_Payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile_Load_Order</servlet-name>
        <url-pattern>/Mobile_Load_Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile_Remove_Cart_Item</servlet-name>
        <url-pattern>/Mobile_Remove_Cart_Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Product_List</servlet-name>
        <url-pattern>/Load_Product_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load_Adv_Products</servlet-name>
        <url-pattern>/Load_Adv_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile_Load_Order_Details</servlet-name>
        <url-pattern>/Mobile_Load_Order_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Web_Load_Products2</servlet-name>
        <url-pattern>/Web_Load_Products2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
